<a href="https://colab.research.google.com/github/RayhanvLn/UASDataScience/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

KELOMPOK

MUHAMMAD ALFI 237064516045

RAYHAN FAKHRI R 237064516063

In [ ]:
import pandas as pd

df = pd.read_csv("/content/Campus Recruitment.csv")  # Colab
df.columns = df.columns.str.strip()

print("Shape:", df.shape)
display(df.head())
print("\nKolom:\n", list(df.columns))

Shape: (215, 15)

,ID,Jenis Kelamin,Nilai rata-rata SMP,Lembaga pendidikan kelas 10,Nilai rata-rata SMA,Lembaga pendidikan kelas 12,Jurusan saat SMA,IPK,Program studi sarjana,Pengalaman kerja sebelum lulus,Nilai tes kemampuan kerja,Pendidikan pascasarjana,Nilai rata-rata pascasarjana,status kelulusan (Bekerja/Belum),Gaji
0,1,M,67.00,Internasional,91.00,Internasional,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,5400000.0
1,2,M,79.33,Negeri,78.33,Negeri,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,4000000.0
2,3,M,65.00,Negeri,68.00,Swasta,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,5000000.0
3,4,M,56.00,Negeri,52.00,Swasta,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Negeri,73.60,Negeri,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,8500000.0

Kolom:
 ['ID', 'Jenis Kelamin', 'Nilai rata-rata SMP', 'Lembaga pendidikan kelas 10', 'Nilai rata-rata SMA', 'Lembaga pendidikan kelas 12', 'Jurusan saat SMA', 'IPK', 'Program studi sarjana', 'Pengalaman kerja sebelum lulus', 'Nilai tes kemampuan kerja', 'Pendidikan pascasarjana', 'Nilai rata-rata pascasarjana', 'status kelulusan (Bekerja/Belum)', 'Gaji']

In [ ]:
print("Missing values (top):")
display(df.isna().sum().sort_values(ascending=False).head(10))

print("\nJumlah duplikat:", df.duplicated().sum())

Missing values (top):

Gaji                           67
Nilai tes kemampuan kerja       6
Nilai rata-rata SMP             2
Jenis Kelamin                   1
Nilai rata-rata SMA             1
ID                              0
Lembaga pendidikan kelas 10     0
Jurusan saat SMA                0
Lembaga pendidikan kelas 12     0
Program studi sarjana           0
dtype: int64

Jumlah duplikat: 0

In [ ]:
target = "status kelulusan (Bekerja/Belum)"

print("Distribusi target:")
display(df[target].value_counts())
display((df[target].value_counts(normalize=True)*100).round(2))

# Hindari leakage: Gaji biasanya hanya ada untuk yang bekerja/placed
df2 = df.drop(columns=["ID", "Gaji"], errors="ignore").copy()

print("\nKolom setelah cleaning:", df2.shape[1])
display(df2.head())

Distribusi target:

status kelulusan (Bekerja/Belum)
Placed        148
Not Placed     67
Name: count, dtype: int64

status kelulusan (Bekerja/Belum)
Placed        68.84
Not Placed    31.16
Name: proportion, dtype: float64

Kolom setelah cleaning: 13

,Jenis Kelamin,Nilai rata-rata SMP,Lembaga pendidikan kelas 10,Nilai rata-rata SMA,Lembaga pendidikan kelas 12,Jurusan saat SMA,IPK,Program studi sarjana,Pengalaman kerja sebelum lulus,Nilai tes kemampuan kerja,Pendidikan pascasarjana,Nilai rata-rata pascasarjana,status kelulusan (Bekerja/Belum)
0,M,67.00,Internasional,91.00,Internasional,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Negeri,78.33,Negeri,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Negeri,68.00,Swasta,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Negeri,52.00,Swasta,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Negeri,73.60,Negeri,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [ ]:
import pandas as pd

num_cols = ["Nilai rata-rata SMP","Nilai rata-rata SMA","IPK","Nilai tes kemampuan kerja","Nilai rata-rata pascasarjana"]
num_cols = [c for c in num_cols if c in df2.columns]

print("Rata-rata fitur penting per status:")
display(df2.groupby(target)[num_cols].mean().round(2))

print("\nPengalaman kerja vs status (persentase):")
display(pd.crosstab(df2["Pengalaman kerja sebelum lulus"], df2[target], normalize="index").mul(100).round(2))

Rata-rata fitur penting per status:

,Nilai rata-rata SMP,Nilai rata-rata SMA,IPK,Nilai tes kemampuan kerja,Nilai rata-rata pascasarjana
status kelulusan (Bekerja/Belum),,,,,
Not Placed,57.48,58.40,61.13,69.60,61.61
Placed,71.67,69.95,68.74,73.27,62.58

Pengalaman kerja vs status (persentase):

status kelulusan (Bekerja/Belum)  Not Placed  Placed
Pengalaman kerja sebelum lulus
No                                     40.43   59.57
Yes                                    13.51   86.49

In [ ]:
from sklearn.model_selection import train_test_split

y = df2[target]
X = df2.drop(columns=[target])

# One-hot untuk kategori
X = pd.get_dummies(X, drop_first=True)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

print("Train shape:", X_train.shape, "Test shape:", X_test.shape)

Train shape: (172, 18) Test shape: (43, 18)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

pipe_lr = Pipeline([
    ("imputer", SimpleImputer(strategy="median")),          # handle NaN
    ("scaler", StandardScaler(with_mean=False)),
    ("model", LogisticRegression(max_iter=500))
])

pipe_lr.fit(X_train, y_train)
pred_lr = pipe_lr.predict(X_test)

print("=== Logistic Regression (Baseline) ===")
print("Accuracy:", round(accuracy_score(y_test, pred_lr), 4))
print("Confusion Matrix (Not Placed, Placed):\n", confusion_matrix(y_test, pred_lr, labels=["Not Placed","Placed"]))
print("\nClassification Report:\n", classification_report(y_test, pred_lr, digits=3))

=== Logistic Regression (Baseline) ===
Accuracy: 0.9535
Confusion Matrix (Not Placed, Placed):
 [[13  0]
 [ 2 28]]

Classification Report:
               precision    recall  f1-score   support

  Not Placed      0.867     1.000     0.929        13
      Placed      1.000     0.933     0.966        30

    accuracy                          0.953        43
   macro avg      0.933     0.967     0.947        43
weighted avg      0.960     0.953     0.954        43

In [ ]:
from sklearn.ensemble import RandomForestClassifier

pipe_rf = Pipeline([
    ("imputer", SimpleImputer(strategy="median")),
    ("model", RandomForestClassifier(n_estimators=400, random_state=42))
])

pipe_rf.fit(X_train, y_train)
pred_rf = pipe_rf.predict(X_test)

print("=== Random Forest (Pembanding) ===")
print("Accuracy:", round(accuracy_score(y_test, pred_rf), 4))
print("Confusion Matrix (Not Placed, Placed):\n", confusion_matrix(y_test, pred_rf, labels=["Not Placed","Placed"]))
print("\nClassification Report:\n", classification_report(y_test, pred_rf, digits=3))

=== Random Forest (Pembanding) ===
Accuracy: 0.8605
Confusion Matrix (Not Placed, Placed):
 [[ 8  5]
 [ 1 29]]

Classification Report:
               precision    recall  f1-score   support

  Not Placed      0.889     0.615     0.727        13
      Placed      0.853     0.967     0.906        30

    accuracy                          0.860        43
   macro avg      0.871     0.791     0.817        43
weighted avg      0.864     0.860     0.852        43

In [ ]:
from sklearn.metrics import f1_score, precision_score, recall_score

def metrics_table(y_true, y_pred, name):
    return {
        "Model": name,
        "Accuracy": accuracy_score(y_true, y_pred),
        "Precision_Placed": precision_score(y_true, y_pred, pos_label="Placed"),
        "Recall_Placed": recall_score(y_true, y_pred, pos_label="Placed"),
        "F1_Placed": f1_score(y_true, y_pred, pos_label="Placed"),
        "F1_macro": f1_score(y_true, y_pred, average="macro")
    }

compare = pd.DataFrame([
    metrics_table(y_test, pred_lr, "Logistic Regression"),
    metrics_table(y_test, pred_rf, "Random Forest"),
]).round(3)

print("=== Perbandingan Model (Review) ===")
display(compare)

=== Perbandingan Model (Review) ===

,Model,Accuracy,Precision_Placed,Recall_Placed,F1_Placed,F1_macro
0,Logistic Regression,0.953,1.000,0.933,0.966,0.947
1,Random Forest,0.860,0.853,0.967,0.906,0.817

In [ ]:
import numpy as np

lr_model = pipe_lr.named_steps["model"]
coef = pd.Series(lr_model.coef_[0], index=X_train.columns)

top_lr = coef.reindex(coef.abs().sort_values(ascending=False).index).head(10)

print("=== Top 10 faktor (Logistic Regression) ===")
display(top_lr.round(4))

rf_model = pipe_rf.named_steps["model"]
fi = pd.Series(rf_model.feature_importances_, index=X_train.columns).sort_values(ascending=False).head(10)

print("=== Top 10 faktor (Random Forest) ===")
display(fi.round(4))

=== Top 10 faktor (Logistic Regression) ===

Nilai rata-rata SMP                   1.9819
IPK                                   1.1449
Nilai rata-rata pascasarjana         -1.1232
Lembaga pendidikan kelas 12_Swasta   -1.0566
Pengalaman kerja sebelum lulus_Yes    0.9479
Lembaga pendidikan kelas 10_Negeri   -0.9124
Nilai rata-rata SMA                   0.7025
Program studi sarjana_Sci&Tech       -0.5955
Jenis Kelamin_M                       0.5252
Jurusan saat SMA_Science             -0.4581
dtype: float64

=== Top 10 faktor (Random Forest) ===

Nilai rata-rata SMP                   0.2570
IPK                                   0.2070
Nilai rata-rata SMA                   0.1528
Nilai rata-rata pascasarjana          0.1094
Nilai tes kemampuan kerja             0.0687
Pengalaman kerja sebelum lulus_Yes    0.0368
Pendidikan pascasarjana_Mkt&HR        0.0290
Lembaga pendidikan kelas 12_Swasta    0.0244
Jenis Kelamin_M                       0.0236
Lembaga pendidikan kelas 10_Negeri    0.0185
dtype: float64

In [ ]:
best = compare.sort_values("F1_macro", ascending=False).iloc[0]["Model"]
print("Model terbaik berdasarkan F1_macro:", best)

print("\nRekomendasi singkat (berdasarkan fitur dominan):")
print("- Jika IPK/nilai akademik dominan  perkuat pembinaan akademik dan monitoring.")
print("- Jika employability test dominan  adakan pelatihan psikotes, interview, CV.")
print("- Jika pengalaman kerja dominan  tingkatkan program magang/PKL dan kerja sama industri.")

Model terbaik berdasarkan F1_macro: Logistic Regression

Rekomendasi singkat (berdasarkan fitur dominan):
- Jika IPK/nilai akademik dominan  perkuat pembinaan akademik dan monitoring.
- Jika employability test dominan  adakan pelatihan psikotes, interview, CV.
- Jika pengalaman kerja dominan  tingkatkan program magang/PKL dan kerja sama industri.